[submodule "modules/modular-app-module1"]
	path = modules/modular-app-module1
	url = git@github.com:alaabadran/modular-app-module1.git
[submodule "modules/js-alert"]
	path = modules/js-alert
	url = git@github.com:alaabadran/js-alert.git
