[submodule "modules/modular-app-module1"]
	path =modular-app-module1
	url = git@github.com:alaabadran/modular-app-module1.git
[submodule "modules/jquery"]
	path = modules/jquery
	url = git@github.com:alaabadran/jquery.git
